* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    /* background: #050b18;  */
    color: #ffffff;
    background: #000000;
   
}

.header {
    display: flex;
    justify-content: space-between;

   align-items: center;
    padding: 20px 10%;
    background: #050b18;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.logo span {
    color: #00f7ff;
}

.nav a {
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

.nav a:hover {
    color: #00f7ff;
}


.hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
  justify-content: center;
      align-items: center;
    text-align: center;
    padding: 0 10%;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #00f7ff;
}

.hero p {
    max-width: 600px;
    color: #cccccc;
    margin-bottom: 30px;
}

.hero-buttons .btn {
    margin: 10px;
}


.btn {
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

/* .primary {
    background: #00f7ff;
    color: #000;
    box-shadow: 0 0 15px #00f7ff;
} */

.primary:hover {
    box-shadow: 0 0 30px #00f7ff;
}

/* .secondary {
    border: 2px solid #00f7ff;
    color: #00f7ff;
} */

.secondary:hover {
    background: #00f7ff;
    color: #000;
    box-shadow: 0 0 30px #00f7ff;
}

.features {
    padding: 80px 10%;
    text-align: center;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.feature-box {
    background: #0b1c2d;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #00f7ff;
}

.feature-box h3 {
    margin-bottom: 15px;
    color: #00f7ff;
}


.how {
    padding: 80px 10%;
    text-align: center;
}

.how h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.steps {
    display: flex;
     justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.step {
    background: #0b1c2d;
    padding: 25px;
    border-radius: 15px;
    width: 220px;
}

.step span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #00f7ff;
    color: #000;
    border-radius: 50%;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}


.cta {
    padding: 80px 10%;
    text-align: center;
    background: linear-gradient(135deg, #00f7ff20, #000);
}

.cta h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.cta p {
    color: #cccccc;
    margin-bottom: 30px;
}


.footer {
    text-align: center;
    padding: 20px;
     background: #020712;
    color: #888;
    font-size: 14px;
}
